# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# TensorFlow cache
tfhub_cache/

# Local database
*.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Uploads
uploads/
audio_files/
